<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td>
          <% if customer.plofile_image.representable? %>
            <%= image_tag customer.plofile_image.variant( resize: '70x70') %>
          <% else %>
            <%= link_to rails_blob_path(plofile_image, disposition: "attachment") do %>
              <%= image_tag "no_image.jpg", alt: "Download file" %>
            <% end %>
          <% end %>
        </td>
        <td><%= customer.full_name %></td>
        <td>フォロー数: <%= customer.followings.count %></td>
        <td>フォロワー数: <%= customer.followers.count %></td>
        <td class='follow-btn' id="follow"><%= render "public/relationships/follow", customer: customer %></td>
        <td><%= link_to 'Show', customer_path(customer), class: "customer_#{customer.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>