<div class="container mt-5">
  <div class="row">
    <div class="col-lg-10 col-sm-10 col-md-10 col-10 mx-auto">
      <div class="card">
        <div class="card-body">
          <h3 class="subtitle"><%= @customer.full_name %>さんの編集</h2>
          <% if @customer.errors.any? %>
            <div class="alert-message">
              <ul>
                <% @customer.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= form_with model:@customer, url: customer_path, local: true do |f| %>
            <div class="form-group">
              <div class="card-text my-5">
                <%= f.label :"変更する場合はユーザー画像を選択してください" %><br>
                <%= f.file_field :plofile_image %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-md-6 mb-3">
                <%= f.label :"姓" %>
                <%= f.text_field :last_name, autofocus: true, class:"form-control" %>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6 mb-3">
                <%= f.label :"名" %>
                <%= f.text_field :first_name, class:"form-control" %>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6 mb-3">
                <%= f.label :"カナ（セイ）" %>
                <%= f.text_field :last_name_kana, class:"form-control" %>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6 mb-3">
                <%= f.label :"カナ（メイ）" %>
                <%= f.text_field :first_name_kana, class:"form-control" %>
              </div>
              <div class="col-lg-12 col-sm-12 col-md-12 mb-3">
                <%= f.label :"自己紹介" %>
                <%= f.text_area :introduction, class:"form-control" %>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6 mb-3">
                <%= f.label :"大学名称" %>
                <%= f.text_field :college_name, placeholder:"大学名称(正式名称で入力してください)", class:"form-control" %>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6 mb-3">
                <%= f.label :"専攻" %>
                <%= f.text_field :specialty_study,placeholder:"専攻(正式名称で入力してください)", class:"form-control" %>
              </div>
            </div>
            <span class="col-3 mx-auto">
              <span class="withdraw"><%= f.submit '編集内容を保存', class: "btn btn-create" %></span>
              <br>
              <span class="withdraw"><%= link_to '退会する',unsubscribe_path(@customer), class: "btn btn-delete" %></span>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>