<!--　ユーザー情報 -->
<h3>my page</h3>
<div>名前：<%= @customer.full_name %></div>
<div>カナ：<%= @customer.full_name_kana %></div>
<div>大学名称：<%= @customer.college_name %></div>
<div>専攻：<%= @customer.specialty_study %></div>
<% if @customer.id == current_customer.id %>
  <div><%= link_to "edit", edit_customer_path(@customer) %></div>
<% end %>

<!-- 投稿情報 -->
<h3>productions</h3>
<% @productions.each do |production| %>
  <div>Title:<%= link_to production.title, production_path(production.id) %></div>
  <div>Introduction:<%= production.introduction %></div>
<% end %>