<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="subtitle">投稿内容の編集</h2>
          <%= form_with model:@production,url:"/productions/#{@production.id}",local:true do |f| %>
            <div class="form-group">
              <div class="card-text">
                <%= f.label :"作品タイトル" %>
                <%= f.text_field :title, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="card-text">
                <%= f.label :"作品説明" %>
                <%= f.text_area :introduction,class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="card-text my-4">
                <%= f.label :"画像を選択してください（複数投稿の場合1枚目がサムネ表示されます。PDFは表示されません）" %><br>
                <%= f.file_field :images, multiple: true %>
              </div>
            </div>
            <div class="form-group">
              <div class="card-text my-5">
                <%= f.label :images, "現在登録されている作品" %>
                  <% if @production.images.present? %>
                    <p>※削除したい画像にチェックを入れてください</p>
                    <% @production.images.each do |image| %>
                      <%= f.check_box :image_ids, {multiple: true}, image.id, false %>
                      <%= image_tag image, size:"300x300" %> <br>
                    <% end %>
                  <% end %>
                <%#= f.label :"画像を選択してください" %><br>
                <%#= f.file_field :images, multiple: true %>
              </div>
            </div>
            <div class="col-1 mx-auto">
              <%= f.submit '編集内容を保存' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>

