<div class="container">
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-12 mx-auto">
      <h4 class="my-3 mx-4">products (全<%= @production.count %>件)</h4>
      <div class="card-group">
        <% @production.each do |production| %>
          <div class="col-lg-3 col-md-4 col-ms-6 my-2">
            <% if !production.images.empty? %>
              <% if production.images[0].representable? %>
                <%= image_tag rails_representation_path production.images[0].variant(resize: '250x250')  %>
              <% else %>
                <%= link_to rails_blob_path(production.images[0], disposition: "attachment") do %>
                  <%= image_tag "no_pdf.jpg",size:'250x250', alt: "Download file" %>
                <% end %>
              <% end %>
            <% end %>
            <div class="card-body">
              <div class="card-title">
                <%= link_to production.title, production_path(production.id) %>
              </div>
              <div class="card-text">
                <%= production.introduction %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>