<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">products　新規投稿</h5>
          <%= form_with model: @production,url:'/productions',local:true do |f| %>
            <div class="form-group">
              <div class="card-text">
                <%= f.label :"作品タイトル" %>
                <%= f.text_field :title, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="card-text">
                <%= f.label :"作品説明" %>
                <%= f.text_area :introduction,class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="card-text my-4">
                <%= f.label :"画像を選択してください" %><br>
                <%= f.file_field :images, multiple: true %>
              </div>
            </div>
            <div class="col-1 mx-auto">
              <%= f.submit 'create' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>