production 新規投稿ページです
<%= form_with model: @production,url:'/productions',local:true do |f| %>
  <div>Title</div>
  <%= f.text_field :title %>
  <div>Introduction</div>
  <%= f.text_area :introduction %>
  <%= f.file_field :images, multiple: true %>
  <%= f.submit 'create' %>
<% end %>