<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="container form-contents">

            <div class="card-text my-3">
              <div class="row my-3 mx-right">
                <div class="col-6 h-50 d-flex justify-content-end mx-auto">
                  <% if @production.customer.plofile_image.attached? %>
                    <%= image_tag @production.customer.plofile_image.variant(combine_options:{gravity: :center, resize:"150x150^", crop:"150x150+0+0"}).processed, class:"plofile_image" %>
                  <% else %>
                    <%= image_tag "no_image.jpg" %>
                  <% end %>
                </div>
                <div class="col-6 my-auto mx-auto">
                  <div>
                    <%= link_to @production.customer.full_name, customer_path(@production.customer) %>
                  </div>
                  <div>
                    フォロー<%= link_to @production.customer.followings.count, customer_followings_path(@production.customer) %>
                    フォロワー<%= link_to @production.customer.followers.count, customer_followers_path(@production.customer) %>
                  </div>
                  <div><%= @production.customer.college_name %> : <%= @production.customer.specialty_study %></div>
                  <div class="form col-md-6"><%= @production.customer.introduction %></div>
                  <br>
                  <div class="col-10 my-auto mx-left">
                    <% if @production.customer == current_customer %>
                      <%= link_to "編集", edit_production_path(@production.id), class: "btn btn-create" %>
                      <%= link_to "削除", production_path(@production), method: :delete, class: "btn btn-delete", "data-confirm" => "本当に削除しますか？" %>
                    <% else %>
                       <div class='follow-btn' id="follow_<%= @production.customer.id %>">
                         <%= render "public/relationships/follow", customer: @production.customer %>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-md-10">
                <label><h3><%= @production.title %></5></label>
              </div>
            </div>

            <div class="col-md-10">
              <label>
                <div class='good-btn mx-2' id="good_<%= @production.id %>">
                  <%= render "public/goods/good", production: @production %>
                </div>
              </label>
              <% if @production.customer.id != current_customer.id %>
                <label>
                  <div class='star-btn mx-2' id="favorite_<%= @production.id %>">
                    <%= render "public/favorites/favo", production: @production %>
                  </div>
                </label>
              <% end %>
              <span class="mx-2">👀<%= @production.impressions_count %></span>
              <label>
                <div class="comments-count col-md-12" id="production_<%= @production.id %>">
                  <p>コメント件数:<%= @production.comments.count %></p>
                </div>
              </label>
            </div>

            <div class="col-md-12">
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <% @production.images.each do |image| %>
                    <div class="swiper-slide">
                      <% if image.representable? %>
                        <%= image_tag rails_representation_path image.variant( resize: '700x700') %>
                      <% else %>
                        <%= link_to rails_blob_path(image, disposition: "attachment") do %>
                          <%= image_tag "no_pdf.jpg", alt: "Download file" %>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
              <br>
              <br>
              <div class="swiper-pagination"></div>
            </div>

            <div class="col-md-10 my-3">
              <h5>作品説明</h5>
              <label><h6 class="form"><%= @production.introduction %></6></label>
            </div>

            <div class="comments" id="production_<%= @production.id %>">
              <%= render "public/comments/comment", production: @production %>
            </div>
            <br>

            <div class="form-table col-md-12 mb-6">
              <%= form_with(model:[@production,@comment],remote: true)do |f| %>
                <div class="col-lg-12 col-md-12 col-sm-12 mb-6">
                  <td><%= f.text_area :comment, size: '60%x5%',class: 'comment_form', placeholder:"コメントはこちらに" %></td>
                  <br>
                  <td><%= f.submit "送信する", class: "btn btn-border" %></td>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
