<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <div class="card">
        <div class="card-body">
          <h2 class="subtitle my-3">products　投稿詳細</h2>
          <p><%= flash[:notice] %></p>
          <div class="form-group">
            <div class="card-text my-3">
              <div class="col-md-10">
                <label>ユーザー画像</label>
                <label>
                  <% if @production.customer.plofile_image.representable? %>
                    <%= image_tag @production.customer.plofile_image.variant( resize: '100x100') %>
                    <%#= image_tag image.representation(resize_to_limit: [300,300]) %>
                  <% else %>
                    <%= link_to rails_blob_path(plofile_image, disposition: "attachment") do %>
                      <%= image_tag "no_image.jpg", alt: "Download file" %>
                    <% end %>
                  <% end %>
                </label>
              </div>
              <div class="col-md-10">
　　　　　　　　<label>名前：</label>
　　　　　　　　<label><%= link_to @production.customer.full_name,customer_path(@production.customer.id) %></label>
              </div>
              <div class="col-md-10">
                <label>作品タイトル:</label>
                <label><h5><%= @production.title %></5></label>
              </div>
            </div>
            <div class="col-md-10">
              <label>作品説明</label>
              <label><h5><%= @production.introduction %></5></label>
            </div>
            <div class="col-md-10">
              <label>作品画像</label>
            </div>
            <div class="col-md-12">
              <% @production.images.each do |image| %>
                <% if image.representable? %>
                  <%= image_tag rails_representation_path image.variant( resize: '300x300') %>
                  <%#= image_tag image.representation(resize_to_limit: [300,300]) %>
                <% else %>
                  <%= link_to rails_blob_path(image, disposition: "attachment") do %>
                    <%= image_tag "no_image.jpg", alt: "Download file" %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="col-md-12">
              <p>コメント件数:<%= @production.comments.count %></p>
              <% @production.comments.each do |comment| %>
                <p>ユーザー画像</p>
                <%= comment.customer.full_name %>
                <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
                <% if comment.customer == current_customer %>
                  <div>
                    <%= link_to "コメント削除", production_comment_path(comment.production,comment),method: :delete, class: "btn btn-danger" %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class='good-btn' id="good_<%= @production.id %>"><%= render "public/goods/good", production: @production %></div>
            <div class='star-btn' id="favorite_<%= @production.id %>">
              <%= render "public/favorites/favo", production: @production %>
            </div>
            <div class="col-md-12">
              <%= form_with(model:[@production,@comment],local: true)do |f| %>
                <%= f.text_area :comment, rows:'5',placeholder:"コメントはこちらに" %>
                <%= f.submit "送信する" %>
              <% end %>
            </div>
            <div><%= render "public/customers/follow", customer: @production.customer %></div>
          </div>
          <% if @production.customer == current_customer %>
            <div class="col-3"><%= link_to "投稿編集", edit_production_path(@production.id), class: "btn btn-success" %></div>
            <div class="col-3"><%= link_to "投稿削除", production_path(@production), method: :delete, class: "btn btn-danger" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>