<% if @production.comments.present? %>
  <% @production.comments.each do |comment| %>
    <table>
      <tr>
        <td>
          <%= link_to customer_path(comment.customer.id) do %>
            <% if comment.customer.plofile_image.attached? %>
              <%= image_tag comment.customer.plofile_image.variant(combine_options:{gravity: :center, resize:"60x60^", crop:"60x60+0+0"}).processed, class:"plofile_image" %>
            <% else %>
              <%= image_tag "no_image.jpg", size: '60x60' %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to customer_path(comment.customer.id), class: "text-dark", style: "font-weight: bold;" do %>
            <%= comment.customer.full_name %>
          <% end %>
        </td>
        <td><%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %></td>
        <td>
          <% if comment.customer == current_customer %>
            <div>
              <%= link_to "コメント削除", production_comment_path(comment.production,comment),method: :delete, remote: true, class: "btn btn-delete" %>
            </div>
          <% end %>
        </td>
      </tr>
    </table>
    <br>
  <% end %>
<% else %>
  <p>コメントはまだありません</p>
<% end %>