<div class="container mt-5">
  <div class="row">
    <div class="col-lg-10 col-sm-10 col-md-10 col-10 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="subtitle"><%= @customer.full_name %>さんの編集</h2>
          <%= form_with model:@customer, url: admin_customer_path, local: true do |f| %>
            <div class="row">
              <div class="col-lg-6 col-sm-6 col-md-6 mb-3">
                <%= f.label :"(姓)" %>
                <%= f.text_field :last_name, autofocus: true, class:"form-control" %>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6 mb-3">
                <%= f.label :"(名)" %>
                <%= f.text_field :first_name, class:"form-control" %>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6 mb-3">
                <%= f.label :"カナ（セイ）" %>
                <%= f.text_field :last_name_kana, class:"form-control" %>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6 mb-3">
                <%= f.label :"カナ（メイ）" %>
                <%= f.text_field :first_name_kana, class:"form-control" %>
              </div>
              <div class="col-lg-12 col-sm-12 col-md-12 mb-3">
                <%= f.label :"自己紹介" %>
                <%= f.text_area :introduction, class:"form-control" %>
              </div>

              <div class="col-lg-12 col-sm-12 col-md-12 mb-3">
                <%= f.label :"大学名称" %>
                <%= f.text_field :college_name, class:"form-control" %>
              </div>

              <div class="col-lg-12 col-sm-12 col-md-12 mb-3">
                <%= f.label :"専攻" %>
                <%= f.text_field :specialty_study, class:"form-control" %>
              </div>

              <div class="col-lg-12 col-sm-12 col-md-12 mb-3">
                <%= f.label :"メール" %>
                <%= f.text_field :email, class:"form-control" %>
              </div>

              <div class="col-lg-12 col-sm-12 col-md-12 mb-3">
                <%= f.label :is_deleted, "会員ステータス" %>
                <%= f.radio_button :is_deleted, :active %>
                <%= f.label :"有効" %>
                <%= f.radio_button :is_deleted, :withdraw %>
                <%= f.label :"退会" %>
              </div>
            </div>
            <div class="actions">
              <%= f.submit "編集内容を保存", class:"btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>