<div class="container">
  <%= form_with model: @customer, url: customer_password_path, class: 'registration-main', local: true do |f| %>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h4 class="subtitle mx-3 my-4">パスワード再設定</h4>
        <%= render 'public/shared/error_messages', model: f.object %>
        <div class="container form-contents">

          <div class="row">
            <div class="col-md-7 mb-6">
              <%= f.label :email %>
              <%= f.email_field :email, class:"form-control", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
            </div>
            <div class="col-md-12 my-2">
              <br>
              <br>
              <h5>入力されたメールアドレスにパスワード再設定メールを送信します</h5>
            </div>
            <div class='col-md-12'>
              <%= f.submit "送信" ,class: "btn btn-border" %>
            </div>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>
