<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mx-auto">
  <table class="table table-border-bottom form-inline">
    <tbody>
      <% @notifications.each do |notification| %>
        <tr>
          <td>
            <%= link_to customer_path(notification.visitor.id) do %>
              <% if notification.visitor.plofile_image.attached? %>
                <%= image_tag notification.visitor.plofile_image.variant(combine_options:{gravity: :center, resize:"40x40^", crop:"40x40+0+0"}).processed, class:"plofile_image" %>
              <% else %>
                <%= image_tag "no_image.jpg", size: '40x40' %>
              <% end %>
            <% end %>

            <%= link_to customer_path(notification.visitor), style: "font-weight: bold;" do %>
              <%= notification.visitor.full_name %>
            <% end %>
            <%= "さんが" %>

            <% case notification.action %>
              <% when 'follow' then %>
                <%= "あなたをフォローしました" %>
              <% when 'good' then %>
                <%= link_to 'あなたの投稿', notification.production, style: "font-weight: bold;" %>
                <%= "にいいねしました" %>
              <% when 'comment' then %>
                <% if notification.production.customer_id == notification.visited.id %>
                  <%= link_to "あなたの投稿", notification.production, style: "font-weight: bold;" %>
                <% else %>
                  <%= link_to customer_path(notification.visited.id), class: "text-dark" do %>
                    <%= notification.production.customer.full_name + "さんの" %>
                  <% end %>
                <%= link_to "投稿", notification.production, style: "font-weight: bold;" %>
              <% end %>
              <span>
                <%= "にコメントしました" %>
                <p class="text-secondary">
                  <%= Comment.find_by(id: notification.comment_id).comment %>
                </p>
              </span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
