<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h4 class="subtitle mx-3 my-4">Log In</h4>

      <div class="container form-contents">
        <p>会員の方はこちらからログインしてください。</p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="row">
            <div class="col-md-12 mb-6">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
            </div>

            <div class="col-md-12 mb-6">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>

              <% if devise_mapping.rememberable? %>
              <div class="field mb-6">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
              <% end %>
            </div>
            <br>
            <div class="col-1">
              <br>
              <%= f.submit "Log in", class: "btn btn-border" %>
            </div>

          </div>
        <% end %>

        <div class="text-right">
          <br>
          <span>
            会員登録がお済みでない方は<%= render "public/shared/links" %>から新規登録を行なってください。
          </span>
        </div>

        <div class="text-right">
          <br>
          <span>
            <%#パスワードをお忘れの方は<%= link_to "こちら", new_customer_password_path, class: "btn btn-border" %> <%#から再設定を行なってください。#%>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>