<footer class="bg-dark text-white fixed-bottom">
  <nav class="navbar navbar-expand-lg navbar-ligth">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <% if customer_signed_in? %>
        <li class="login-message">こんにちは,<%= current_customer.last_name %>さん</li>
      <% else %>
        <li class="login-message">こんにちは,ゲストさん</li>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <li class="nav-item"><%= link_to "top", root_path, class: 'nav-link text-white' %></li>
          <li class="nav-item"><%= link_to "logout", destroy_customer_session_path, method: :delete, class: 'nav-link text-white' %></li>
          <li class="nav-item"><%= link_to "create", new_production_path, class: 'nav-link text-white' %></li>
          <li class="nav-item"><%= link_to "mypage", customer_path(current_customer.id), class: 'nav-link text-white' %></li>
          <li class="nav-item"><%= link_to "products", productions_path, class: 'nav-link text-white' %></li>
        <% else %>
          <li class="nav-item"><%= link_to "top", root_path, class: 'nav-link text-white' %></li>
          <li class="nav-item"><%= link_to "login", new_customer_session_path, class: 'nav-link text-white' %></li>
          <li class="nav-item"><%= link_to "new", new_customer_registration_path, class: 'nav-link text-white' %></li>
          <li class="nav-item"><%= link_to "products", productions_path, class: 'nav-link text-white' %></li>
        <% end %>
      </div>
    </div>
  </nav>
</footer>