<footer class="bg-dark text-white fixed-bottom">
  <nav class="navbar navbar-expand-lg navbar-ligth">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <% if customer_signed_in? %>
        <li class="login-message">こんにちは,<%= current_customer.full_name %>さん</li>

      <% elsif admin_signed_in? %>
        <li class="login-message">こんにちは,管理者さん</li>
      <% else %>
        <li class="login-message">こんにちは,ゲストさん</li>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <li class="nav-item">
            <%= form_with url: search_path, local: true, method: :get do |f| %>
              <%= f.text_field :word %>
              <%= f.select :range, options_for_select([['ユーザー名'],['作品名']]) %>
              <%= f.select :search, options_for_select([["完全一致","perfect_match"],
                                                        ["前方一致","forward_match"],
                                                        ["後方一致","backword_match"],
                                                        ["部分一致","partial_match"]]) %>
              <%= f.submit "search", class: "btn btn-search" %>
            <% end %>
          </li>
          <li class="nav-item"><%= link_to "top", root_path, class: 'nav-link text-white' %></li>
          <li class="nav-item"><%= link_to "logout", destroy_customer_session_path, method: :delete, class: 'nav-link text-white' %></li>
          <li class="nav-item"><%= link_to "create", new_production_path, class: 'nav-link text-white' %></li>
          <li class="nav-item"><%= link_to "mypage", customer_path(current_customer.id), class: 'nav-link text-white' %></li>
          <li class="nav-item"><%= link_to "products", productions_path, class: 'nav-link text-white' %></li>
          <% if unchecked_notifications.any? %>
            <i class="fas fa-circle" style="color: gold;"></i>
          <% end %>
          <li class="nav-item"><%= link_to "🔔", notifications_path, class: "nav-link btn-default" %></li>
        <% elsif admin_signed_in? %>
          <li class="nav-item"><%= link_to "logout", destroy_admin_session_path, method: :delete, class: 'nav-link text-white' %></li>
          <li class="nav-item"><%= link_to "customers", admin_customers_path, class: 'nav-link text-white' %></li>
          <li class="nav-item"><%= link_to "products", admin_productions_path, class: 'nav-link text-white' %></li>
        <% else %>
          <li class="nav-item"><%= link_to "top", root_path, class: 'nav-link text-white' %></li>
          <li class="nav-item"><%= link_to "login", new_customer_session_path, class: 'nav-link text-white' %></li>
          <li class="nav-item"><%= link_to "new", new_customer_registration_path, class: 'nav-link text-white' %></li>
          <li class="nav-item"><%= link_to "products", productions_path, class: 'nav-link text-white' %></li>
        <% end %>
      </div>
    </div>
  </nav>
</footer>